body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f2f2f2;
    margin: 0;
    padding: 20px;
    margin-top: 100px; /* Ajustar la distancia con respecto a la navbar */
}

h1, h2 {
    text-align: center;
    color: #f2f2f2;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #444;
    color: #f2f2f2;
    border: 1px solid #555;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

button:hover {
    background-color: #7f00ff;
}

table {
    width: 100%;
    margin-top: 20px;
    background-color: #333;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #444;
}

td button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

td button:hover {
    background-color: #c9302c;
}

/* Estilos para la navbar */
.navbar {
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    background-color: #333;
    padding: 14px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background-color: #6a0dad;
    border-radius: 5px;
    margin-right: 10px; /* Añade espacio entre los botones */
}

.navbar a:hover {
    background-color: #7f00ff;
    color: white;
}

.categoria-list {
    margin-top: 40px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

