/* evaluacion.css */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

#detalle-solicitud {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
}

form button {
    background-color: #6200ee;
    cursor: pointer;
}

form button:hover {
    background-color: #3700b3;
}

button {
    background-color: #6200ee;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

/* Tamaño de la imagen */
img {
    max-width: 100%; /* Se adapta al tamaño del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    display: block;
    margin: 20px auto; /* Centramos la imagen con margen automático */
    border-radius: 10px; /* Añade bordes redondeados para un mejor aspecto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar la imagen */
}

/* Ajuste del contenedor que puede incluir la imagen */
#detalle-solicitud img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
