/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1, h2 {
    color: #f2f2f2;
    text-align: center;
}

/* Estilos para la navbar */
.navbar {
    display: flex;
    justify-content: flex-start; /* Alinea los botones a la izquierda */
    background-color: #333;
    padding: 14px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    background-color: #6a0dad;
    border-radius: 5px;
    margin-right: 10px; /* Añade espacio entre los botones */
}

.navbar a:hover {
    background-color: #7f00ff;
    color: white;
}


/* Ajustes del contenedor del formulario */
.login-container {
    max-width: 400px;
    width: 100%;
    margin: 80px auto 0 auto; /* Ajuste la separación superior debido a la navbar */
    padding-left: 20px; /* Añade espacio a la izquierda */
    padding-right: 20px; /* Añade espacio a la derecha */
    display: flex;
    justify-content: center;
}

/* Ajustes en el formulario */
.login-box {
    background-color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 450px; /* Ancho máximo del formulario */
}

/* Estilos de los inputs y botones */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    color: #f2f2f2;
}

.input-group input:focus, .input-group select:focus {
    outline: none;
    border-color: #7f00ff;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #6a0dad;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #7f00ff;
}
